<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image name: {{ image }}</title>
</head>
<body>
    <h2>Today's special</h2>
    <img src="/{{image}}" alt="Image of the day">
</body>
</html>