<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main.css">
    <title>MY Corp.</title>
</head>
<body>
    <h1><code>MY Corp.</code></h1>
    <p><a href="/">Home</a> | <a href="/uuid">UUID generator</a> </p>

    <div class="red-box">
        {{{body}}}
    </div>

    <hr>
    <h4><code>Sep 2018</code></h4>
</body>
</html>